*{
    margin: 0;
    display: flexbox;
    border: 0;
}
.container{
    margin-top: 300px;
    margin-left: 300px;
    display: flow-root;
    width: 350px;
    height: 570px;
    background-color: aqua;
    overflow: scroll auto;
}
.maestro{
    width: 120px;
    height: 120px;
    display: flex;
}
.mastercard{
    width: 120px;
    height: 120px;
    display: flex;
}
.visa{
    width: 120px;
    height: 120px;
    display: flex;
}
.box{
    width: 250px;
    height: 160px;
    background-color: antiquewhite;
    border-bottom: 3px groove rgb(77, 71, 71);
    margin: 10px;
    border-right: 3px solid rgb(83, 76, 76);
    border-left: 3px solid rgb(84, 76, 76);
    border-top: 3px solid rgb(68, 62, 62);
    border-radius: 3%;
}
.box:hover{
    border-bottom: 3px groove rgb(92, 92, 207);
    border-right: 3px solid rgb(122, 122, 223);
    border-left: 3px solid rgb(108, 108, 209);
    border-top: 3px solid rgb(104, 104, 199);
}
.box-1{
    width: 250px;
    height: 160px;
    background-color: antiquewhite;
    border-bottom: 3px groove rgb(77, 71, 71);
    margin: 10px;
    border-right: 3px solid rgb(83, 76, 76);
    border-left: 3px solid rgb(84, 76, 76);
    border-top: 3px solid rgb(68, 62, 62);
    border-radius: 3%;
}
.box-1:hover{
    border-bottom: 3px groove rgb(92, 92, 207);
    border-right: 3px solid rgb(122, 122, 223);
    border-left: 3px solid rgb(108, 108, 209);
    border-top: 3px solid rgb(104, 104, 199);
}
.box-3{
    width: 250px;
    height: 160px;
    background-color: antiquewhite;
    border: 10px;
    border-radius: 3%;
    margin: 10px;
    border-bottom: 3px groove rgb(77, 71, 71);
    border-right: 3px solid rgb(83, 76, 76);
    border-left: 3px solid rgb(84, 76, 76);
    border-top: 3px solid rgb(68, 62, 62);
}
.box-3:hover{
    border: 3px groove rgb(92, 92, 207);
    /* border-right: 3px solid rgb(122, 122, 223);
    border-left: 3px solid rgb(108, 108, 209);
    border-top: 3px solid rgb(104, 104, 199); */
}
.box-2{
    background-color: bisque;
    width: 330px;
    height: 540px;
}
.plus{
    display: flex;

    margin-left: 200px;
}